body {
  background-color: #F7D5BB;
  color: #FDF2E3;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.header-div h1, .firstpage-wrapper h1 {
  font-family: 'Just Another Hand', cursive;;
}

.firstpage-wrapper {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  font-size: clamp(1rem, 2vw, 4rem);
  margin-top: 20px;
}

.firstpage-wrapper h1 {
  margin: 25px 0 10px 0;
  font-size: 7em;
}

.start-wrapper {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-btn {
  background-color: #EDA77F;
  color: #FDF2E3;
  padding: 15px 45px;
  border-radius: 20px;
  max-width: 100px;
  font-size: clamp(1rem, 1rem + 0.3rem, 1.3rem);

}

.background-img-wrapper {
  margin-top: 25px;
}

.background-img {
  background-image: url("/public/wepik-export-20230822073930mV82.png");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  height: 65vh;
  width: 100%;
}

.header-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-size: clamp(1rem, 2vw, 3rem);
}

.animal-card {
  background-color: #EDA77F;
  max-width: 240px;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}

.hungry {
  animation: blink 1s infinite; 
}

.short-desc {
  align-items: center;
  text-align: center;
  background-color: #FDF2E3;
  color: black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  min-height: 150px;
}

.animal-img {
  border-radius: 50%;
  margin-top: 15px;
  margin-bottom: -15px;
}

.animal-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  padding: 0;
}

.arrow {
  position: relative;
  margin-right: 0;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #dbb6bd;
  color: #666666;
}

a:link {
  text-decoration: none;
  /* transition: transform 0.2s; */
}

a:visited {
  text-decoration: none;
  color: #FDF2E3;
}

a:hover, button:hover {
  text-decoration: none;
  transform: scale(1.1);
}

a:active {
  text-decoration: none;
}

.animal-presentation-wrapper {
  background-color: #EDA77F;
  border-radius: 20px;
  max-width: 500px;
  margin: auto;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sml-img {
  border-radius: 50%;
  padding: 20px 10px;
  cursor: pointer;
}

.animal-desc {
  background-color: #FDF2E3;
  border-radius: 20px;
  color: black;
  font-size: 1 rem;
  padding: 20px 30px;
}

.animal-info {
  text-align: left;
  padding: 0 10px;
}

.animal-info h1 {
  font-size: 2rem;
}

.feed-btn {
  background-color: #EDA77F;
  color: #FDF2E3;
  padding: 15px 25px;
  border-radius: 10px;
  margin: 20px 0;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

/* Icon second page */
.cat-icon {
  margin-bottom: -25px;
}

/* Modal.css */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  transform: translate(-50%, -50%); /* Centrera horisontellt och vertikalt */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.modal-content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.modal-content button {
  margin-top: 10px;
  background-color: #dbb6bd;
  border: none;
  padding: 2px 16px;
  border-radius: 10px;
  cursor: pointer;
  max-width: 250px;
  margin: auto;
  display: flex;
  align-items: center;
}

/* Exempel på hur du kan stylea den större bilden i AnimalCard */
.animal-img-large {
  max-width: 50%;
  max-height: 50vh;
  object-fit: contain;
}


@keyframes blink {
  0% {
    background-color: red;
  }
  50% {
    background-color: #EDA77F; 
  }
  100% {
    background-color: red;
  }
}

