#root {
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: #F7D5BB;
  color: #FDF2E3;
  font-family: 'Roboto', sans-serif;
}

.header-div {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  font-size: clamp(1rem, 2vw, 3rem);
}

.header-div h1, .firstpage-wrapper h1 {
  font-family: 'Just Another Hand', cursive;;
}

.animal-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

.animal-card {
  background-color: #EDA77F;
  max-width: 240px;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}

.hungry {
  animation: blink 1s infinite; 
}

.short-desc {
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
  background-color: #FDF2E3;
  color: black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  min-height: 120px;
}

.animal-img {
  border-radius: 50%;
  margin-top: 15px;
  margin-bottom: -15px;
}

.arrow {
  position: relative;
  margin-right: 0;
}

button {
  padding: 0;
  border: none;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #dbb6bd;
  color: #666666;
}

a:link {
  text-decoration: none;
  /* transition: transform 0.2s; */
}

a:visited {
  text-decoration: none;
  color: #FDF2E3;
}

a:hover {
  text-decoration: none;
  transform: scale(1.1);
}

a:active {
  text-decoration: none;
}

.animal-presentation-wrapper {
  background-color: #EDA77F;
  border-radius: 20px;
  max-width: 500px;
  margin: auto;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sml-img {
  border-radius: 50%;
  padding: 20px 10px;
}

.animal-desc {
  background-color: #FDF2E3;
  border-radius: 20px;
  color: black;
  font-size: 1 rem;
  padding: 20px 30px;
}

.animal-info {
  text-align: left;
  padding: 0 10px;
}

.animal-info h1 {
  font-size: 2rem;
}

.feed-btn {
  background-color: #EDA77F;
  color: #FDF2E3;
  padding: 15px 25px;
  border-radius: 10px;
  margin: 20px 0;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.firstpage-wrapper {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  font-size: clamp(1rem, 3vw, 5rem);
}

.start-btn {
  background-color: #EDA77F;
  color: #FDF2E3;
  padding: 25px 45px;
  margin: 20px;
  border-radius: 20px;
  max-width: 200px;
  margin-top: 150px;
  font-size: clamp(1rem, 1rem + 1vw, 2rem);

}

.circle {
  position: relative;
  background-image: url("/public/wepik-export-20230822073930mV82.png");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  margin: 0;
  width: 100%;
  height: 75vh;
  margin-top: 100px;
  margin-bottom: 0;
  animation: slideIn 1s forwards; 
}

.cat-icon {
  margin-bottom: -25px;
}

@keyframes blink {
  0% {
    background-color: red;
  }
  50% {
    background-color: #EDA77F; 
  }
  100% {
    background-color: red;
  }
}

@keyframes slideIn {
  0% {
    bottom: -100%; /* Startposition */
  }
  100% {
    bottom: 0; /* Slutposition (visas helt) */
  }
}

