#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #F7D5BB;
  color: #FDF2E3;
}

.header-div {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.animal-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

.animal-card {
  background-color: #EDA77F;
  max-width: 200px;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}

.hungry {
  animation: blink 1s infinite; /* Använd din valda tidsperiod */
}

.short-desc {
  font-size: 0.5rem;
  background-color: #FDF2E3;
  color: black;
  border-radius: 10px;
  padding: 10px 10px;
  min-height: 65px;

  margin-bottom: 5px;
}

.animal-img {
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: -25px;
}

.arrow {
  position: relative;
  margin-right: 0;
}

button {
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
}

.animal-presentation-wrapper {
  background-color: #EDA77F;
  border-radius: 20px;
  width: 50%;
  margin: auto;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sml-img {
  border-radius: 50%;
}

.animal-desc {
  background-color: #FDF2E3;
  border-radius: 20px;
  color: black;
  font-size: 0.8 rem;
  padding: 10px;
}

.animal-info {
  text-align: left;
}

.feed-btn {
  background-color: #EDA77F;
  color: #FDF2E3;
  padding: 15px 25px;
  border-radius: 10px;
  margin: 20px 0;
}

@keyframes blink {
  0% {
    background-color: red;
  }
  50% {
    background-color: #EDA77F; 
  }
  100% {
    background-color: red;
  }
}

.feeding-info {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.8rem;

}

.feeding-info ul {
  list-style: none;
}

.feeding-info h2 {
  font-size: 0.8rem;
}
